In [1]:
# this code takes the NFIRS Dataset and outputs a count of fires by zipcode
# requires NFIRS_2009_2016_geocoded_with_tract.csv to be in the main path

In [2]:
import os
import pandas as pd

In [3]:
# Change to your filepath to data and uncomment if NFIRS_2009_2016_geocoded_with_tract.csv not in the main path 
# os.chdir('../Data/Raw')

In [78]:
NFIR = pd.read_csv('NFIRS_2009_2016_geocoded_with_tract.csv',
                   encoding='latin_1',
                   index_col=0,
                   low_memory=False)

In [39]:
NFIR.head()

,ORIGINAL_ADDRESS,MATCH,MATCH_TYPE,MATCHED_ADDRESS,X,Y,TIGER_LINE_ID,TIGER_LINE_SIDE,STATE,state_fips,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT
ID,,,,,,,,,,,,,,,,,
rcp2_id1868,"300 Navaho ST, Enterprise, AL, 36331",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,AL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rcp2_id9390,"253 BALD ROCK RD, BERRY_CRK, CA, 95934",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,CA,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rcp2_id1869,"105 Yellowleaf DR, Enterprise, AL, 36331",Match,Non_Exact,"105 YELLOWLEAF DR, ENTERPRISE, AL, 36330",-85.807050,31.328058,99550660.0,L,AL,1.0,31.0,11202.0,1.031011e+09,112.02,Census Tract 112.02,G5020,S
rcp2_id9391,"464 SHELDON AVE, GRDLY, CA, 95956",Match,Non_Exact,"464 SHELDON AVE, GRIDLEY, CA, 95948",-121.666460,39.350815,636052867.0,R,CA,6.0,7.0,3400.0,6.007003e+09,34.00,Census Tract 34,G5020,S
rcp2_id9392,"11336 YANKEE HILL RD, CONCOW, CA, 95965",Match,Non_Exact,"11336 YANKEE HILL RD, YANKEE HILL, CA, 95965",-121.520836,39.712353,68417518.0,R,CA,6.0,7.0,2400.0,6.007002e+09,24.00,Census Tract 24,G5020,S

In [79]:
NFIR.columns

Index(['ORIGINAL_ADDRESS', 'MATCH', 'MATCH_TYPE', 'MATCHED_ADDRESS', 'X', 'Y',
       'TIGER_LINE_ID', 'TIGER_LINE_SIDE', 'STATE', 'state_fips', 'COUNTYFP',
       'TRACTCE', 'GEOID', 'NAME', 'NAMELSAD', 'MTFCC', 'FUNCSTAT'],
      dtype='object')

In [81]:
NFIR = NFIR.loc[:,['STATE','COUNTYFP']]

              STATE  COUNTYFP
ID
rcp2_id1868      AL       NaN
rcp2_id9390      CA       NaN
rcp2_id1869      AL      31.0
rcp2_id9391      CA       7.0
rcp2_id9392      CA       7.0
rcp2_id9393      CA       7.0
rcp2_id9394      CA       7.0
rcp2_id9395      CA       7.0
rcp2_id9396      CA       7.0
rcp2_id9397      CA       7.0
rcp2_id1861      AL      31.0
rcp2_id9388      CA       7.0
rcp2_id9387      CA       7.0
rcp2_id1860      AL       NaN
rcp2_id1863      AL       NaN
rcp2_id9389      CA       7.0
rcp2_id1862      AL      31.0
rcp2_id1865      AL      31.0
rcp2_id1864      AL       NaN
rcp2_id1867      AL      31.0
rcp2_id1866      AL      31.0
rcp2_id1879      AL      33.0
rcp2_id1870      AL       NaN
rcp2_id1874      AL      31.0
rcp2_id1873      AL      31.0
rcp2_id1872      AL      31.0
rcp2_id9399      CA       NaN
rcp2_id1871      AL       NaN
rcp2_id9398      CA       7.0
rcp2_id1878      AL      33.0
...             ...       ...
rcp2_id664136    NY       NaN
rcp2_id664133    NY       NaN
rcp2_id664134    NY       NaN
rcp2_id664131    NY       NaN
rcp2_id664132    NY       NaN
rcp2_id664130    NY       NaN
rcp2_id669989    OH      35.0
rcp2_id665702    NY       NaN
rcp2_id669988    OH       NaN
rcp2_id665701    NY       NaN
rcp2_id669987    OH       NaN
rcp2_id665700    NY       NaN
rcp2_id669986    OH       NaN
rcp2_id669985    OH       NaN
rcp2_id665706    NY       NaN
rcp2_id664139    NY       NaN
rcp2_id669984    OH       NaN
rcp2_id665705    NY       NaN
rcp2_id669983    OH      35.0
rcp2_id665704    NY       NaN
rcp2_id664137    NY       NaN
rcp2_id669982    OH       NaN
rcp2_id665703    NY       NaN
rcp2_id664138    NY      71.0
rcp2_id669981    OH       NaN
rcp2_id665709    NY       NaN
rcp2_id669990    OH      35.0
rcp2_id669991    OH       NaN
rcp2_id665707    NY       NaN
rcp2_id665708    NY       NaN

[1959105 rows x 2 columns]

In [82]:
OUT =  NFIR.groupby('STATE')['COUNTYFP'].value_counts()

In [95]:
OUT.name = 'COUNT'

Output

In [96]:
OUT.to_csv('Fires_by_County.csv',header= True)