In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option('display.max_columns',500)
sns.set()

In [13]:
def top_value_counts(df, n=5):
    """ Function to generate summary information for string or categorical
    data in dataframes"""
    df = df.select_dtypes(include=['O','category'])
    cols = df.columns
    df_value_counts = pd.DataFrame()
    i_name = -1
    for col in cols:
        i_name += 1
        counts = df[col].value_counts(dropna=False)[:n]
        top_n_names = list(counts.index)
        top_n = list(counts)
        if len(top_n) < n+1:
            for i in range(n-len(top_n)):
                top_n.append('-')
                top_n_names.append('-')
        top_n_names.insert(0,'n_unique')
        top_n.insert(0,df[col].nunique())
        df_value_counts[col] = top_n_names
        df_value_counts[i_name] = top_n
    return(df_value_counts)

In [ ]:
cols_to_skip = ['lat','long','fips']

In [4]:
nfirs = pd.read_csv('NFIRS_2009_2016_with_IDs.csv',encoding='latin-1')

C:\Users\thwhi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (2,6,19,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
nfirs.head()

,Unnamed: 0,state,fdid,inc_no,city,street,zip5,lat,lon,fips,inc_date,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,detector,det_type,det_power,det_operat,det_effect,det_fail,aes_pres,aes_type,aes_oper,no_spr_op,aes_fail,ID
0,1,AK,11100,211,JUNEAU,1700 ANGUS WAY,99801,NaN,NaN,NaN,1/3/2009 0:00:00,0.0,0.0,0,111,20000.0,5000.0,25000,1,1,1,2,1,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1
1,2,AK,11100,470,JUNEAU,3221 PIONEER AVE,99801,NaN,NaN,NaN,1/6/2009 0:00:00,0.0,0.0,0,114,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id2
2,3,AK,11100,556,JUNEAU,10231 HERON WAY,99801,NaN,NaN,NaN,1/6/2009 0:00:00,0.0,0.0,0,111,20000.0,5000.0,25000,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id3
3,4,AK,11100,1315,JUNEAU,6590 GLACIER HWY,99801,NaN,NaN,NaN,1/13/2009 0:00:00,0.0,0.0,0,113,200.0,20.0,220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id4
4,5,AK,11100,2151,JUNEAU,6590 GLACIER HWY,99801,NaN,NaN,NaN,1/21/2009 0:00:00,0.0,0.0,0,111,35000.0,5000.0,40000,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id5

In [15]:
df.head()

,state,fdid,inc_no,city,street,zip5,lat,lon,fips,inc_date,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,detector,det_type,det_power,det_operat,det_effect,det_fail,aes_pres,aes_type,aes_oper,no_spr_op,aes_fail,ID
1106568,NJ,02210,0000570,Garfield,143 Grand ST,7026,NaN,NaN,NaN,11/4/2013 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1106569
669506,OH,18035,0004852,Euclid,19520 Euclid AVE,44117,NaN,NaN,NaN,8/12/2011 0:00:00,0.0,0.0,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id669507
1197373,VA,05900,2012068,OAKTON,3419 ELLMORE LN,22124,NaN,NaN,NaN,7/20/2013 0:00:00,NaN,NaN,0,111,200000.0,52000.0,252000,U,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,rcp2_id1197374
292168,ID,17333,0000099,Sandpoint,1923 E Shingle Mill Road,83864,NaN,NaN,NaN,4/19/2010 0:00:00,0.0,0.0,0,111,0.0,0.0,0,U,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id292169
1273217,IL,CS931,0107126,Chicago,8336 S LANGLEY AVE,60619,NaN,NaN,NaN,2/17/2014 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1273218

In [17]:
df = nfirs.sample(10000)
df = df.set_index('Unnamed: 0')
df.index.names = ['']

,state,fdid,inc_no,city,street,zip5,lat,lon,fips,inc_date,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,detector,det_type,det_power,det_operat,det_effect,det_fail,aes_pres,aes_type,aes_oper,no_spr_op,aes_fail,ID
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
491889,AL,5501,1100110,TROY,125 University AVE,36081,NaN,NaN,NaN,1/19/2011 0:00:00,0.0,0.0,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id491889
1336503,MT,07002,0001356,Whitefish,6710 Farm to Market RD,59937,NaN,NaN,NaN,10/17/2014 0:00:00,NaN,NaN,0,111,250000.0,0.0,250000,U,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1336503
1855920,PA,25420,3701072,Waterford,2154 E Stancliff Road,16441,NaN,NaN,NaN,9/26/2016 0:00:00,NaN,NaN,0,111,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1855920
1143120,NY,44004,223,Haverstraw,43 Main ST,10927,NaN,NaN,NaN,12/17/2013 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1143120
839596,MI,07412,0000469,COTTRELLVILLE,8010 S RIVER RD,48039,NaN,NaN,NaN,8/18/2012 0:00:00,NaN,NaN,0,118,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id839596
151290,NY,24001,0345844,New York City,738 CAFFREY AVE,11691,NaN,NaN,NaN,6/3/2009 0:00:00,0.0,0.0,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id151290
424455,OH,48017,0-34939,Toledo,NEWPORT AV ST,43613,NaN,NaN,NaN,8/22/2010 0:00:00,0.0,0.0,0,111,40000.0,0.0,40000,U,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id424455
750475,CA,15010,1209068,MOJAVE,16197 H ST,93501,NaN,NaN,NaN,3/26/2012 0:00:00,NaN,NaN,0,118,2.0,2.0,4,1,4,7,1,NaN,NaN,1,1,3,NaN,NaN,rcp2_id750475
1466815,VT,13273,0000370,GUILFORD,4861 HINESBURG RD,05301,NaN,NaN,NaN,1/6/2015 0:00:00,NaN,NaN,0,114,0.0,0.0,273025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1466815
1497011,MA,25035,0010275,BOSTON,1462 WASHINGTON ST,02118,NaN,NaN,NaN,2/13/2015 0:00:00,NaN,NaN,0,113,0.0,0.0,98020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1497011
1534606,TN,36711,217,Savannah,90 OPEL LOOP,38372,NaN,NaN,NaN,4/2/2015 0:00:00,NaN,NaN,0,111,0.0,0.0,501958,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1534606
849869,MO,03906,0012127,walnut grove,9885 fr 48,65770,NaN,NaN,NaN,6/14/2012 0:00:00,NaN,NaN,0,111,0.0,0.0,0,U,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,rcp2_id849869
516946,CT,5220,1102509,WESTPORT,15 DUCK POND RD,06880,NaN,NaN,NaN,9/2/2011 0:00:00,0.0,0.0,0,118,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id516946
1760140,GA,7101,0000734,Tallapoosa,3131 Ga 120 HWY W,30176,NaN,NaN,NaN,3/25/2016 0:00:00,1.0,0.0,0,121,0.0,0.0,0,U,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1760140
24741,CT,5060,90113,Easton,53 Ridgeway RD,06612,NaN,NaN,NaN,4/27/2009 0:00:00,0.0,0.0,0,111,0.0,0.0,0,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id24741
1606269,KS,DG101,0006473,LAWRENCE,1333 Tennessee ST,66044,NaN,NaN,NaN,7/26/2015 0:00:00,NaN,NaN,0,113,0.0,0.0,225660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1606269
191125,RI,2700,95,PORTSMOUTH,98 HARGRAVES DR,2871,NaN,NaN,NaN,1/12/2009 0:00:00,0.0,0.0,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id191125
415949,NY,60044,0000061,Pound Ridge,44 INDIAN HILL RD,10576,NaN,NaN,NaN,3/3/2010 0:00:00,0.0,0.0,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id415949
346292,MI,08207,0009047,Detroit,11465 WILFRED ST,48205,NaN,NaN,NaN,5/13/2010 0:00:00,0.0,0.0,0,114,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id346292
945671,TX,HA707,0001010,GALVESTON,8008 SEAWALL BLVD,77551,NaN,NaN,NaN,3/6/2012 0:00:00,NaN,NaN,0,111,250.0,100.0,350,1,U,U,U,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id945671
1414234,PA,51001,1920942,PHILADELPHIA,2258 KENNEDY ST,19137,NaN,NaN,NaN,7/11/2014 0:00:00,NaN,NaN,0,113,0.0,0.0,0,1,1,1,2,1,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1414234
1073306,MI,03916,0001098,PORTAGE,6777 BRICKLETON,49024,NaN,NaN,NaN,4/27/2013 0:00:00,NaN,NaN,0,113,0.0,500.0,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1073306
1259428,GA,04002,0014255,CORDELE,109 N BASS STRE,31015,NaN,NaN,NaN,9/19/2014 0:00:00,NaN,NaN,0,111,2000.0,1000.0,3000,1,1,1,2,1,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1259428
1058561,MA,17308,0004980,WALTHAM,284 LINCOLN ST,2451,NaN,NaN,NaN,8/9/2013 0:00:00,NaN,NaN,0,111,3000.0,0.0,3000,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1058561
208248,TX,KB402,0000126,HALLSVILLE,5460 E NOONDAY ROAD,75650,NaN,NaN,NaN,12/25/2009 0:00:00,0.0,0.0,0,111,0.0,0.0,0,1,1,3,U,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id208248
730879,WA,17M08,1103225,KENT,11130 SE 208 ST,98031,NaN,NaN,NaN,3/18/2011 0:00:00,0.0,0.0,0,113,0.0,0.0,0,1,1,4,1,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id730879
1609521,CA,34090,0110295,Fair Oaks,9160 Madison,95628,NaN,NaN,NaN,8/1/2015 0:00:00,NaN,NaN,0,111,5000.0,1000.0,155920,1,1,5,2,1,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1609521
626941,NH,11455,0000020,North Conway,95 Common CT,03860,NaN,NaN,NaN,1/9/2011 0:00:00,0.0,0.0,0,114,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id626941
913951,OH,46119,0000029,EAST LIBERTY,9061 296 CORD,43319,NaN,NaN,NaN,8/5/2012 0:00:00,NaN,NaN,0,111,0.0,0.0,0,1,3,4,2,1,NaN,U,NaN,NaN,NaN,NaN,rcp2_id913951
20912,CO,1363,0009629,Longmont,7337 63RD ST,80503,NaN,NaN,NaN,8/5/2009 0:00:00,0.0,0.0,0,122,0.0,0.0,0,U,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id20912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516549,CA,19110,0066216,LA PUENTE CO,335 PALAMOS,00000,NaN,NaN,NaN,3/8/2015 0:00:00,NaN,NaN,0,113,0.0,0.0,180275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1516549
444979,SC,30203,10030,Gray Court,52 TERPINTINE DR,29645,NaN,NaN,NaN,1/17/2010 0:00:00,0.0,0.0,0,111,50000.0,2000.0,52000,U,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id444979
531517,FL,48032,1111138,FI,2285 MARSH HAWK,32003,NaN,NaN,NaN,8/2/2011 0:00:00,0.0,0.0,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id531517
1194090,TX,WP801,164094,AUSTIN,2336 DOUGLAS ST,78741,NaN,NaN,NaN,8/9/2013 0:00:00,NaN,NaN,0,111,30000.0,3000.0,33000,1,1,7,2,3,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1194090
619991,NC,03410,0004990,Germanton,5734 Germanton RD,27019,NaN,NaN,NaN,2/28/2011 0:00:00,0.0,0.0,0,111,15000.0,0.0,15000,1,1,1,2,U,NaN,N,NaN,NaN,NaN,NaN,rcp2_id619991
1692727,NH,91590,0018220,UNITY,640 UNITY SPRINGS RD,03603,NaN,NaN,NaN,12/10/2015 0:00:00,NaN,NaN,0,111,92100.0,20000.0,387100,1,1,U,2,1,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1692727
1490011,KY,56290,0003018,LOUISVILLE,4907 FRIDEN WAY,40214,NaN,NaN,NaN,2/4/2015 0:00:00,NaN,NaN,0,111,30000.0,20000.0,509502,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1490011
1526036,AR,15008,0000029,Morrilton,406 Maple ST,72110,NaN,NaN,NaN,3/22/2015 0:00:00,NaN,NaN,1,111,25675.0,4500.0,452675,1,U,U,U,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1526036
1046831,KY,56279,0000323,Louisville,3709 Rosemont BLVD,40218,NaN,NaN,NaN,4/30/2013 0:00:00,NaN,NaN,0,111,0.0,0.0,0,1,1,1,3,NaN,U,N,NaN,NaN,NaN,NaN,rcp2_id1046831
283845,GA,05601,0002377,Fayetteville,Gadson DR,30214,NaN,NaN,NaN,4/29/2010 0:00:00,0.0,0.0,0,111,0.0,0.0,0,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id283845
1069096,MD,25001,0050475,BALTIMORE,3708 E PRATT ST,21224,NaN,NaN,NaN,4/25/2013 0:00:00,NaN,NaN,0,111,20000.0,5000.0,25000,U,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1069096
1681531,NY,24001,1303994,New York City,2150 CRESTON AVE,10453,NaN,NaN,NaN,11/25/2015 0:00:00,NaN,NaN,0,116,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1681531
1406176,OK,57001,2014004,Avant,263 broadway,74001,NaN,NaN,NaN,1/13/2014 0:00:00,NaN,NaN,0,111,0.0,0.0,0,1,1,1,2,1,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1406176
1590655,SC,11213,0000183,Blacksburg,1544 Shelby HWY,29702,NaN,NaN,NaN,6/29/2015 0:00:00,NaN,NaN,0,111,500.0,0.0,222850,1,1,4,2,1,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1590655
226946,WA,27D23,0000047,Eatonville,50717 146th AVE E,98328,NaN,NaN,NaN,3/9/2009 0:00:00,0.0,0.0,0,111,50000.0,15000.0,65000,U,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id226946
417431,OH,12101,101836,Springfield,22 Gordon RD,45504,NaN,NaN,NaN,12/16/2010 0:00:00,0.0,0.0,0,113,100.0,0.0,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id417431
1200449,VA,57000,0041699,COLONIAL HEIGHTS,106 CLEARFIELD CIR,23834,NaN,NaN,NaN,12/19/2013 0:00:00,NaN,NaN,0,113,2500.0,0.0,2500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1200449
1194623,TX,XR501,2013044,Burkburnett,113 Carolyn,76354,NaN,NaN,NaN,3/13/2013 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1194623
1821128,UT,21002,1600325,CEDAR CITY,604 S Morningside CIR,84720,NaN,NaN,NaN,9/3/2016 0:00:00,NaN,NaN,0,111,205000.0,100000.0,305000,1,1,4,2,3,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1821128
1067563,MD,16026,0400280,District Hgts,2729 LORRING DR,20747,NaN,NaN,NaN,2/9/2013 0:00:00,NaN,NaN,0,111,0.0,0.0,0,U,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,rcp2_id1067563
1637084,IL,CS931,0633878,Chicago,3601 S WELLS ST,60609,NaN,NaN,NaN,9/17/2015 0:00:00,NaN,NaN,0,113,0.0,0.0,485800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1637084
778296,GA,2203,0000465,Carrollton,90 Bagwell DR,30117,NaN,NaN,NaN,2/13/2012 0:00:00,NaN,NaN,0,111,0.0,0.0,0,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id778296
765650,FL,1032,2191442,NORTH MIAMI,14899 NE 18TH AVE,33181,NaN,NaN,NaN,9/23/2012 0:00:00,NaN,NaN,0,111,0.0,30.0,30,1,1,2,2,1,NaN,N,NaN,NaN,NaN,NaN,rcp2_id765650
1497421,TN,19532,0009832,Nashville,309 TANGLEWOOD CT,37211,NaN,NaN,NaN,2/13/2015 0:00:00,NaN,NaN,0,113,0.0,0.0,492405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1497421
1716490,CA,1040,1603461,FREMONT,3338 ISHERWOOD,94536,NaN,NaN,NaN,3/22/2016 0:00:00,NaN,NaN,0,111,0.0,0.0,0,U,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1716490
732086,WA,27D06,0750065,TACOMA,128 153RD ST E,98445,NaN,NaN,NaN,3/16/2011 0:00:00,0.0,0.0,0,113,0.0,0.0,0,1,1,1,2,1,NaN,N,NaN,NaN,NaN,NaN,rcp2_id732086
301719,IL,MA111,0008717,DECATUR,421 N COLLEGE ST,62522,NaN,NaN,NaN,12/16/2010 0:00:00,0.0,0.0,0,111,0.0,0.0,0,1,1,1,2,3,NaN,N,NaN,NaN,NaN,NaN,rcp2_id301719
560745,IN,49009,130782,IND,845 W 26TH ST,46208,NaN,NaN,NaN,11/3/2011 0:00:00,0.0,0.0,0,118,1.0,1.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id560745
919516,OH,87053,170,Weston,13590 Center ST,43569,NaN,NaN,NaN,12/6/2012 0:00:00,NaN,NaN,0,111,0.0,0.0,0,1,1,4,2,1,NaN,N,NaN,NaN,NaN,NaN,rcp2_id919516
784611,GA,9601,1200014,Box Springs,36 Finch PL,31801,NaN,NaN,NaN,4/8/2012 0:00:00,0.0,2.0,0,111,75000.0,50000.0,125000,U,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,rcp2_id784611

In [18]:
df = df.set_index('Unnamed: 0')

In [23]:
df.head()

,state,fdid,inc_no,city,street,zip5,lat,lon,fips,inc_date,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,detector,det_type,det_power,det_operat,det_effect,det_fail,aes_pres,aes_type,aes_oper,no_spr_op,aes_fail,ID
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
491889,AL,5501,1100110,TROY,125 University AVE,36081,NaN,NaN,NaN,1/19/2011 0:00:00,0.0,0.0,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id491889
1336503,MT,07002,0001356,Whitefish,6710 Farm to Market RD,59937,NaN,NaN,NaN,10/17/2014 0:00:00,NaN,NaN,0,111,250000.0,0.0,250000,U,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,rcp2_id1336503
1855920,PA,25420,3701072,Waterford,2154 E Stancliff Road,16441,NaN,NaN,NaN,9/26/2016 0:00:00,NaN,NaN,0,111,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1855920
1143120,NY,44004,223,Haverstraw,43 Main ST,10927,NaN,NaN,NaN,12/17/2013 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id1143120
839596,MI,07412,0000469,COTTRELLVILLE,8010 S RIVER RD,48039,NaN,NaN,NaN,8/18/2012 0:00:00,NaN,NaN,0,118,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rcp2_id839596

In [24]:
top_value_counts(df)

,state,0,fdid,1,inc_no,2,city,3,street,4,zip5,5,inc_date,6,detector,7,det_type,8,det_power,9,det_operat,10,det_effect,11,det_fail,12,aes_pres,13,aes_type,14,aes_oper,15,aes_fail,16,ID,17
0,n_unique,52,n_unique,4398,n_unique,8430,n_unique,4042,n_unique,9909,n_unique,6940,n_unique,2823,n_unique,3,n_unique,12,n_unique,9,n_unique,7,n_unique,5,n_unique,8,n_unique,4,n_unique,6,n_unique,6,n_unique,6,n_unique,10000
1,NY,1206,24001,711,0000001,19,New York City,833,NaN,14,00000,60,11/24/2016 0:00:00,15,NaN,4691,NaN,7603,NaN,7582,NaN,7632,NaN,8541,NaN,9729,NaN,4691,NaN,9861,NaN,9871,NaN,9982,rcp2_id1279863,1
2,TX,601,CS931,138,0000003,17,Chicago,138,711 N Euclid AVE,7,0,23,11/27/2014 0:00:00,13,1,2418,1,1784,1,1070,2,1308,1,1061,U,116,N,4689,1,94,1,47,U,7,rcp2_id1491901,1
3,OH,518,24001,124,0000007,17,Detroit,124,3131 Iowa AVE,4,77201,23,1/19/2016 0:00:00,12,U,1545,1,213,4,577,U,336,3,183,5,81,U,441,U,25,3,46,5,7,rcp2_id1957326,1
4,FL,515,08207,123,0000029,15,Boston,88,143 E STATE ST,4,08618,21,4/1/2009 0:00:00,12,N,1346,U,211,U,462,1,273,U,144,6,35,1,172,2,13,U,21,6,1,rcp2_id1252562,1
5,MA,513,25035,111,0000023,12,HOUSTON,59,4310 Saint Ferdinand AVE,3,10467,14,2/17/2015 0:00:00,11,-,-,3,103,2,203,3,247,2,38,0,15,2,7,3,3,4,10,0,1,rcp2_id792922,1

In [26]:
df.describe().round(1)

,lat,lon,fips,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,no_spr_op
count,0.0,0.0,0.0,3814.0,3814.0,10000.0,10000.0,9755.0,9751.0,10000.0,97.0
mean,NaN,NaN,NaN,0.1,0.0,0.1,112.6,12262.5,4494.0,51363.7,0.7
std,NaN,NaN,NaN,0.3,0.1,2.7,2.2,54887.2,55018.5,202531.6,0.9
min,NaN,NaN,NaN,0.0,0.0,0.0,111.0,0.0,0.0,0.0,0.0
25%,NaN,NaN,NaN,0.0,0.0,0.0,111.0,0.0,0.0,0.0,0.0
50%,NaN,NaN,NaN,0.0,0.0,0.0,113.0,0.0,0.0,0.0,1.0
75%,NaN,NaN,NaN,0.0,0.0,0.0,113.0,2500.0,500.0,12500.0,1.0
max,NaN,NaN,NaN,7.0,3.0,236.0,123.0,2000000.0,5000000.0,8650000.0,4.0

In [28]:
df['fips'].value_counts()

Series([], Name: fips, dtype: int64)