In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option('display.max_columns',500)
sns.set()

In [2]:
def top_value_counts(df, n=5, only_categories = True, cols_to_include = None):
    """ Function to generate summary information for string or categorical
    data in dataframes"""
    if cols_to_include:
        df = df[cols_to_include]
    if only_categories:
        df = df.select_dtypes(include=['O','category'])
    cols = df.columns
    df_value_counts = pd.DataFrame()
    i_name = -1
    for col in cols:
        i_name += 1
        counts = df[col].value_counts(dropna=False)[:n]
        top_n_names = list(counts.index)
        top_n = list(counts)
        if len(top_n) < n+1:
            for i in range(n-len(top_n)):
                top_n.append('-')
                top_n_names.append('-')
        top_n_names.insert(0,'n_unique')
        top_n.insert(0,df[col].nunique())
        df_value_counts[col] = top_n_names
        df_value_counts[i_name] = top_n
    return(df_value_counts)

In [3]:
nfirs = pd.read_csv('NFIRS_2009_2016_Census_ARCBoundary.csv',nrows=10000)

In [37]:
nfirs.sort_values('ID').head()

,ZIP_new,ID,state,fdid,inc_no,city,street,zip5,lat,lon,fips,inc_date,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,detector,det_type,det_power,det_operat,det_effect,det_fail,aes_pres,aes_type,aes_oper,no_spr_op,aes_fail,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,Y,STATEFP,BLKGRPCE,ALAND,AWATER,INTPTLAT,INTPTLON,MATCHED_ADDRESS,Division,Region,Chapter
9607,3,rcp2_id1007205,FL,07072,0000310,APOPKA,822 S HIGHLAND AV,3,NaN,NaN,NaN,1/23/2013 0:00:00,NaN,NaN,0,118,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9608,3,rcp2_id1007209,FL,07072,0000917,APOPKA,231 N WASHINGTON AV,3,NaN,NaN,NaN,3/4/2013 0:00:00,NaN,NaN,0,111,10.0,0.0,10,1,1,1,2,1,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9609,3,rcp2_id1007210,FL,07072,0001042,APOPKA,804 E ORANGE ST,3,NaN,NaN,NaN,3/11/2013 0:00:00,NaN,NaN,0,111,500.0,0.0,500,1,1,1,3,NaN,6,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9610,3,rcp2_id1007215,FL,07072,0002765,APOPKA,1406 GLENMORE CT,3,NaN,NaN,NaN,7/6/2013 0:00:00,NaN,NaN,0,111,1.0,2500.0,2501,1,1,2,2,3,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9611,3,rcp2_id1007218,FL,07072,0003437,APOPKA,574 AUTUMN DR,3,NaN,NaN,NaN,8/22/2013 0:00:00,NaN,NaN,0,111,30000.0,20000.0,50000,1,1,1,3,NaN,U,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
nfirs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 48 columns):
ZIP_new            10000 non-null int64
ID                 10000 non-null object
state              10000 non-null object
fdid               10000 non-null object
inc_no             10000 non-null object
city               10000 non-null object
street             9985 non-null object
zip5               10000 non-null int64
lat                0 non-null float64
lon                0 non-null float64
fips               0 non-null float64
inc_date           10000 non-null object
oth_inj            4516 non-null float64
oth_death          4516 non-null float64
exp_no             10000 non-null int64
inc_type           10000 non-null int64
prop_loss          9979 non-null float64
cont_loss          9979 non-null float64
tot_loss           10000 non-null int64
detector           4879 non-null object
det_type           2130 non-null object
det_power          2180 non-null object
det_operat         2138 non-null object
det_effect         1212 non-null object
det_fail           346 non-null object
aes_pres           4879 non-null object
aes_type           109 non-null object
aes_oper           103 non-null object
no_spr_op          71 non-null float64
aes_fail           7 non-null float64
COUNTYFP           208 non-null float64
TRACTCE            208 non-null float64
GEOID              208 non-null float64
NAME               208 non-null object
NAMELSAD           208 non-null object
MTFCC              208 non-null object
FUNCSTAT           208 non-null object
Y                  208 non-null float64
STATEFP            208 non-null float64
BLKGRPCE           208 non-null float64
ALAND              208 non-null float64
AWATER             208 non-null float64
INTPTLAT           208 non-null float64
INTPTLON           208 non-null float64
MATCHED_ADDRESS    188 non-null object
Division           0 non-null float64
Region             0 non-null float64
Chapter            0 non-null float64
dtypes: float64(22), int64(5), object(21)
memory usage: 3.7+ MB

In [7]:
nfirs.drop(['lat','lon','fips'],axis=1).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 45 columns):
ZIP_new            10000 non-null int64
ID                 10000 non-null object
state              10000 non-null object
fdid               10000 non-null object
inc_no             10000 non-null object
city               10000 non-null object
street             9985 non-null object
zip5               10000 non-null int64
inc_date           10000 non-null object
oth_inj            4516 non-null float64
oth_death          4516 non-null float64
exp_no             10000 non-null int64
inc_type           10000 non-null int64
prop_loss          9979 non-null float64
cont_loss          9979 non-null float64
tot_loss           10000 non-null int64
detector           4879 non-null object
det_type           2130 non-null object
det_power          2180 non-null object
det_operat         2138 non-null object
det_effect         1212 non-null object
det_fail           346 non-null object
aes_pres           4879 non-null object
aes_type           109 non-null object
aes_oper           103 non-null object
no_spr_op          71 non-null float64
aes_fail           7 non-null float64
COUNTYFP           208 non-null float64
TRACTCE            208 non-null float64
GEOID              208 non-null float64
NAME               208 non-null object
NAMELSAD           208 non-null object
MTFCC              208 non-null object
FUNCSTAT           208 non-null object
Y                  208 non-null float64
STATEFP            208 non-null float64
BLKGRPCE           208 non-null float64
ALAND              208 non-null float64
AWATER             208 non-null float64
INTPTLAT           208 non-null float64
INTPTLON           208 non-null float64
MATCHED_ADDRESS    188 non-null object
Division           0 non-null float64
Region             0 non-null float64
Chapter            0 non-null float64
dtypes: float64(19), int64(5), object(21)
memory usage: 3.4+ MB

In [9]:
top_value_counts(nfirs,only_categories=True)

,ID,0,state,1,fdid,2,inc_no,3,city,4,street,5,inc_date,6,detector,7,det_type,8,det_power,9,det_operat,10,det_effect,11,det_fail,12,aes_pres,13,aes_type,14,aes_oper,15,NAME,16,NAMELSAD,17,MTFCC,18,FUNCSTAT,19,MATCHED_ADDRESS,20
0,n_unique,10000,n_unique,36,n_unique,130,n_unique,9807,n_unique,397,n_unique,9264,n_unique,2667,n_unique,3,n_unique,7,n_unique,9,n_unique,4,n_unique,5,n_unique,8,n_unique,3,n_unique,4,n_unique,5,n_unique,6,n_unique,6,n_unique,1,n_unique,1,n_unique,169
1,rcp2_id986584,1,CA,8289,19110,6883,0115018,6,PHOENIX,462,23520 W WILEY CANYON,16,11/25/2010 0:00:00,25,NaN,5121,NaN,7870,NaN,7820,NaN,7862,NaN,8788,NaN,9654,NaN,5121,NaN,9891,NaN,9897,NaN,9792,NaN,9792,NaN,9792,NaN,9792,NaN,9812
2,rcp2_id1572592,1,AZ,548,30065,1361,0129285,5,INGLEWOOD,316,215 SUMNER,16,11/28/2013 0:00:00,18,N,2318,1,1736,1,1099,2,1212,1,787,U,187,N,4703,1,96,1,61,Block Group 1,78,Block Group 1,78,G5030,208,S,208,"188 E HADLEY RD, AMHERST, MA,1002",5
3,rcp2_id251451,1,TX,289,08203,378,0320781,5,PALMDALE,288,NaN,15,11/26/2015 0:00:00,17,1,2181,U,288,U,425,3,346,U,203,5,68,1,117,U,10,3,25,Block Group 3,57,Block Group 3,57,-,-,-,-,"266 E HADLEY RD, AMHERST, MA,1002",3
4,rcp2_id986582,1,MA,282,KA926,267,0266986,5,POMONA,269,310 S Grand BLVD,12,12/12/2011 0:00:00,14,U,380,3,57,4,409,1,295,3,176,6,48,U,59,2,2,4,7,Block Group 2,42,Block Group 2,42,-,-,-,-,"950 N PLEASANT ST, AMHERST, MA,1002",3
5,rcp2_id249156,1,OH,228,18027,211,0223501,5,SANTA CLARITA,267,3500 W MANCHESTER,10,11/24/2011 0:00:00,14,-,-,0,19,2,174,U,285,4,24,0,20,-,-,4,1,2,6,Block Group 4,26,Block Group 4,26,-,-,-,-,"29 TAMARACK DR, AMHERST, MA,1002",2

In [15]:
%%timeit -n5 -r5
s = pd.to_datetime(nfirs['inc_date'])

1.57 s ± 69.1 ms per loop (mean ± std. dev. of 5 runs, 5 loops each)

In [35]:
%%timeit -n5 -r5
s2 = nfirs['inc_type']*2

593 µs ± 24.5 µs per loop (mean ± std. dev. of 5 runs, 5 loops each)

In [36]:
nfirs.head()

,ZIP_new,ID,state,fdid,inc_no,city,street,zip5,lat,lon,fips,inc_date,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,detector,det_type,det_power,det_operat,det_effect,det_fail,aes_pres,aes_type,aes_oper,no_spr_op,aes_fail,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,Y,STATEFP,BLKGRPCE,ALAND,AWATER,INTPTLAT,INTPTLON,MATCHED_ADDRESS,Division,Region,Chapter
0,0,rcp2_id1797482,OK,14005,0007886,OS,19813 S HARRAH RD,0,NaN,NaN,NaN,7/24/2016 0:00:00,NaN,NaN,0,111,150000.0,75000.0,225000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,rcp2_id752671,CA,19110,0023187,ROSEMEAD,3700 N ROSEMEAD,0,NaN,NaN,NaN,1/28/2012 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,rcp2_id752740,CA,19110,0047061,HAWTHORNE,13200 DOTY,0,NaN,NaN,NaN,2/26/2012 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,rcp2_id752750,CA,19110,0051260,WHITTIER CNTY,8530 MORRILL,0,NaN,NaN,NaN,3/2/2012 0:00:00,NaN,NaN,0,111,5000.0,5000.0,10000,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,rcp2_id752761,CA,19110,0052582,AVALON,215 SUMNER,0,NaN,NaN,NaN,3/4/2012 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
nfirs_census = pd.read_csv('NFIRS_2009_2016_Census_FINAL.csv',nrows=10000)

In [40]:
nfirs_census.head()

,ID,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,Y,STATEFP,BLKGRPCE,ALAND,AWATER,INTPTLAT,INTPTLON
0,rcp2_id1869,31,11202,10310112022,Block Group 2,Block Group 2,G5030,S,31.328058,1,2,6038108,0,31.321883,-85.806274
1,rcp2_id9391,7,3400,60070034002,Block Group 2,Block Group 2,G5030,S,39.350815,6,2,25796793,497865,39.327900,-121.654408
2,rcp2_id9392,7,2400,60070024002,Block Group 2,Block Group 2,G5030,S,39.712353,6,2,301791268,22028776,39.720661,-121.410158
3,rcp2_id9393,7,1400,60070014003,Block Group 3,Block Group 3,G5030,S,39.840343,6,3,210666110,7100205,39.788809,-121.974558
4,rcp2_id9394,7,1400,60070014004,Block Group 4,Block Group 4,G5030,S,39.813484,6,4,37562116,0,39.846855,-121.891783

In [41]:
nfirs.head()

,ZIP_new,ID,state,fdid,inc_no,city,street,zip5,lat,lon,fips,inc_date,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,detector,det_type,det_power,det_operat,det_effect,det_fail,aes_pres,aes_type,aes_oper,no_spr_op,aes_fail,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,Y,STATEFP,BLKGRPCE,ALAND,AWATER,INTPTLAT,INTPTLON,MATCHED_ADDRESS,Division,Region,Chapter
0,0,rcp2_id1797482,OK,14005,0007886,OS,19813 S HARRAH RD,0,NaN,NaN,NaN,7/24/2016 0:00:00,NaN,NaN,0,111,150000.0,75000.0,225000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,rcp2_id752671,CA,19110,0023187,ROSEMEAD,3700 N ROSEMEAD,0,NaN,NaN,NaN,1/28/2012 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,rcp2_id752740,CA,19110,0047061,HAWTHORNE,13200 DOTY,0,NaN,NaN,NaN,2/26/2012 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,rcp2_id752750,CA,19110,0051260,WHITTIER CNTY,8530 MORRILL,0,NaN,NaN,NaN,3/2/2012 0:00:00,NaN,NaN,0,111,5000.0,5000.0,10000,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,rcp2_id752761,CA,19110,0052582,AVALON,215 SUMNER,0,NaN,NaN,NaN,3/4/2012 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
top_value_counts(nfirs)

,ID,0,state,1,fdid,2,inc_no,3,city,4,street,5,inc_date,6,detector,7,det_type,8,det_power,9,det_operat,10,det_effect,11,det_fail,12,aes_pres,13,aes_type,14,aes_oper,15,NAME,16,NAMELSAD,17,MTFCC,18,FUNCSTAT,19,MATCHED_ADDRESS,20
0,n_unique,10000,n_unique,36,n_unique,130,n_unique,9807,n_unique,397,n_unique,9264,n_unique,2667,n_unique,3,n_unique,7,n_unique,9,n_unique,4,n_unique,5,n_unique,8,n_unique,3,n_unique,4,n_unique,5,n_unique,6,n_unique,6,n_unique,1,n_unique,1,n_unique,169
1,rcp2_id986584,1,CA,8289,19110,6883,0115018,6,PHOENIX,462,23520 W WILEY CANYON,16,11/25/2010 0:00:00,25,NaN,5121,NaN,7870,NaN,7820,NaN,7862,NaN,8788,NaN,9654,NaN,5121,NaN,9891,NaN,9897,NaN,9792,NaN,9792,NaN,9792,NaN,9792,NaN,9812
2,rcp2_id1572592,1,AZ,548,30065,1361,0129285,5,INGLEWOOD,316,215 SUMNER,16,11/28/2013 0:00:00,18,N,2318,1,1736,1,1099,2,1212,1,787,U,187,N,4703,1,96,1,61,Block Group 1,78,Block Group 1,78,G5030,208,S,208,"188 E HADLEY RD, AMHERST, MA,1002",5
3,rcp2_id251451,1,TX,289,08203,378,0320781,5,PALMDALE,288,NaN,15,11/26/2015 0:00:00,17,1,2181,U,288,U,425,3,346,U,203,5,68,1,117,U,10,3,25,Block Group 3,57,Block Group 3,57,-,-,-,-,"266 E HADLEY RD, AMHERST, MA,1002",3
4,rcp2_id986582,1,MA,282,KA926,267,0266986,5,POMONA,269,310 S Grand BLVD,12,12/12/2011 0:00:00,14,U,380,3,57,4,409,1,295,3,176,6,48,U,59,2,2,4,7,Block Group 2,42,Block Group 2,42,-,-,-,-,"950 N PLEASANT ST, AMHERST, MA,1002",3
5,rcp2_id249156,1,OH,228,18027,211,0223501,5,SANTA CLARITA,267,3500 W MANCHESTER,10,11/24/2011 0:00:00,14,-,-,0,19,2,174,U,285,4,24,0,20,-,-,4,1,2,6,Block Group 4,26,Block Group 4,26,-,-,-,-,"29 TAMARACK DR, AMHERST, MA,1002",2

In [44]:
nfirs.describe().round(1)

,ZIP_new,zip5,lat,lon,fips,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,no_spr_op,aes_fail,COUNTYFP,TRACTCE,GEOID,Y,STATEFP,BLKGRPCE,ALAND,AWATER,INTPTLAT,INTPTLON,Division,Region,Chapter
count,10000.0,10000.0,0.0,0.0,0.0,4516.0,4516.0,10000.0,10000.0,9979.0,9979.0,10000.0,71.0,7.0,208.0,208.0,2.080000e+02,208.0,208.0,208.0,208.0,208.0,208.0,208.0,0.0,0.0,0.0
mean,28.5,28.5,NaN,NaN,NaN,0.0,0.0,0.0,112.4,23374.5,7324.9,110186.3,1.9,3.1,13.8,815994.7,2.501458e+11,42.2,25.0,2.2,3891862.1,140383.6,42.2,-72.6,NaN,NaN,NaN
std,165.4,165.4,NaN,NaN,NaN,0.2,0.0,0.3,1.9,116052.5,39900.4,670941.0,4.9,3.1,1.0,3572.3,9.765897e+06,0.1,0.0,1.2,6689958.6,407905.9,0.2,0.1,NaN,NaN,NaN
min,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,111.0,0.0,0.0,0.0,0.0,0.0,13.0,813205.0,2.501381e+11,42.0,25.0,1.0,435571.0,0.0,42.0,-72.7,NaN,NaN,NaN
25%,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,111.0,0.0,0.0,0.0,1.0,1.0,13.0,813207.0,2.501381e+11,42.1,25.0,1.0,1480462.0,1455.0,42.1,-72.6,NaN,NaN,NaN
50%,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,113.0,0.0,0.0,500.0,1.0,1.0,13.0,813209.0,2.501381e+11,42.1,25.0,2.0,2761728.0,11603.0,42.1,-72.6,NaN,NaN,NaN
75%,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,113.0,8000.0,1500.0,35000.0,1.0,5.5,15.0,820500.0,2.501582e+11,42.4,25.0,3.0,3534290.0,74793.0,42.4,-72.5,NaN,NaN,NaN
max,1002.0,1002.0,NaN,NaN,NaN,6.0,2.0,9.0,122.0,5000000.0,2000000.0,24214300.0,42.0,8.0,15.0,820801.0,2.501582e+11,42.4,25.0,6.0,65017557.0,3740830.0,42.4,-72.4,NaN,NaN,NaN

In [45]:
nfirs_census.describe(include='all').round(1)

,ID,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,Y,STATEFP,BLKGRPCE,ALAND,AWATER,INTPTLAT,INTPTLON
count,10000,10000.0,10000.0,1.000000e+04,10000,10000,10000,10000,10000.0,10000.0,10000.0,1.000000e+04,1.000000e+04,10000.0,10000.0
unique,10000,NaN,NaN,NaN,9,9,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,rcp2_id7105,NaN,NaN,NaN,Block Group 1,Block Group 1,G5030,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,3484,3484,10000,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,63.8,195381.5,4.202540e+10,NaN,NaN,NaN,NaN,36.4,4.1,2.1,7.268162e+07,5.925211e+06,36.4,-105.7
std,NaN,44.6,300438.9,1.908435e+10,NaN,NaN,NaN,NaN,6.9,1.9,1.1,1.739993e+09,1.158914e+08,6.9,17.8
min,NaN,1.0,100.0,1.001020e+10,NaN,NaN,NaN,NaN,30.3,1.0,1.0,2.516000e+04,0.000000e+00,30.3,-166.9
25%,NaN,21.0,3501.0,2.090002e+10,NaN,NaN,NaN,NaN,33.5,2.0,1.0,6.127958e+05,0.000000e+00,33.5,-118.5
50%,NaN,63.0,20704.0,5.063491e+10,NaN,NaN,NaN,NaN,34.6,5.0,2.0,1.685410e+06,0.000000e+00,34.6,-94.4
75%,NaN,97.0,296390.5,6.007003e+10,NaN,NaN,NaN,NaN,36.2,6.0,3.0,1.056115e+07,5.788250e+04,36.2,-90.7
max,NaN,275.0,980400.0,6.107004e+10,NaN,NaN,NaN,NaN,71.3,6.0,9.0,1.583989e+11,5.730995e+09,71.2,-85.0